<div class="container">
  <div class='row'>
    <a href="#" class='btn btn-primary' onclick="window.history.back();return false;"><i class='fa fa-backward'></i> Back</a>
  </div>
  <div class='row'>
    <div class="panel panel-default">
      <div class="panel-heading"><span class="fa fa-caret-square-o-right"></span> Add Display Details </div>
      <div class="panel-body">
        <div class="table-responsive">{{displayId}}
          <input type='hidden' ng-mode='displayId' ng-value="{{displayId}}">
          <input type="text" class='table-header-search form-control' ng-model="searchText" placeholder='Seach By Name'/>
          <table class='table table-striped table-hover table-condensed'>
            <tr>
              <thead>
                <th>Name</th>
                <th>Logo</th>
                <th>Code</th>
                <th>Scope</th>
                <th>Layout</th>
                <th>Contact</th>
                <th>Lat</th>
                <th>Lng</th>
                <th>Url</th>
                <th>Created</th>
                <th>Credits</th>
                <th>Action</th>
              </thead>
            </tr>
            <tbody>
              <tr ng-repeat="display in displays | limitTo:100 | filter:searchText">
                <td>{{display.name}}</td>
                <td>{{display.logo}}</td>
                <td>{{display.code}}</td>
                <td>{{display.scope}}</td>
                <td>{{display.layout}}</td>
                <td>{{display.contact}}</td>
                <td>{{display.lat}}</td>
                <td>{{display.lng}}</td>
                <td>{{display.url}}</td>
                <td>{{display.created}}</td>
                <td>{{display.credits.length}}</td>
                <td width='200'>{{display._id}}
                  <button type='button' ng-click="tagDisplay(display._id)"><i class='fa fa-save'></i> Add</button>
                  <button type='button' ng-click="removeDisplay(display._id)"><i class='fa fa-times'></i> Remove</button> 
                </td>
              </tr> <!-- ng-repeat End Here-->
            </tbody> <!-- table body End Here-->
          </table> <!-- table End Here-->
        </div> <!-- table responsive End Here-->
      </div> <!-- panel body End Here-->
    </div> <!-- panel End Here-->
  </div> <!-- row End Here-->
</div> <!-- container End Here-->
